@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.modal {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  max-width: 20rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: rgb(233, 240, 243);
  border-radius: 0.4rem;

  outline: none;

  gap: 1rem;

  svg {
    width: 5rem;
    height: 5rem;
    color: #cf1f1f;

    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .title {
    width: 100%;
    padding: 2rem;
    background-color: #faa526;

    border-radius: 0.4rem 0.4rem 0 0;

    h2 {
      color: white;
      font-weight: 400;
      font-style: normal;
      font-size: 2rem;
      text-align: center;
    }
  }

  p {
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    text-align: center;
    width: 80%;

    margin-bottom: 1.5rem;

    span {
      color: #faa526;
      cursor: pointer;
    }
  }

  input {
    width: 80%;
    max-width: 20rem;
    padding: 0.5rem 1rem;
    background-color: rgb(233, 240, 243);
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    border-radius: 0.25rem;

    margin: 0.25rem 0;

    color: black;
  }

  button {
    width: 80%;
    max-width: 20rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #faa526;
    color: white;

    margin-top: 0.5rem;

    cursor: pointer;
  }
}
